body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #c3c3c31f;
  height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icons {
  font-size: 70px;
  padding: 5px;
  margin: 15px;
}

.radio-input{
  margin-top: 4px;
}

.radio-input:checked + label{
  color:#fff;
  font-weight:500;
}

.card-img {
  height: 100%;
}

.input-box {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.textarea{
  margin-bottom:10px;
}

.input-box:focus {
  border-bottom: 2px solid #05f7ff;
  outline: none;
}

@font-face {
  font-family: SpaceReg;
  src: url(../styles/fonts/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: RobotoReg;
  src: url(../styles/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../styles/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoMed;
  src: url(../styles/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: RobotoThin;
  src: url(../styles/fonts/Roboto-Thin.ttf);
}
